form {
  display: table;
  table-layout: fixed;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  width: 20%;
}

input {
  display: table-cell;
  width: 80%;
}

#email {
  background-color: lightgray;
}

